@import '../utils/mixins.scss';

.button {
  @include fonts(700, 1.8rem);
  width: 22.5rem;
  height: 4rem;
  margin: 3.5rem 0;
  background-color: #365FC8;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  &:hover {
    cursor: pointer;
  }
}